@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
}

body {
    background-image: url("../Img/Background.jpg");
    color:beige;
}
  
* {
    font-family: 'Source Sans Pro';
}

.title {
    float: left;
    margin-left: 2.5%;
}

.reg-container {
    float: left;

    border-width: 3px;
    border-radius: 2%;
    border-color: antiquewhite;
    border-style: solid;

    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 5%;
    padding-right: 5%;

    position: absolute;

    left: 10%;
    top: 25%;

    text-align: center;
    align-self: center;

    background-color: rgba(21, 26, 35, 0.315);
}

.reg-container h3 {
    margin-top: 4px;
    margin-bottom: 8%;
}

.reg-container input {
    
    display: block;
    
    border-radius: 4px;
    border-style: ridge;

    width: 2.75in;
    
    text-align: center;
    font-weight: bold;
    
    padding-top: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reg-container .submit-antique {
    border-width: 1.5px;
    border-color: antiquewhite;
    border-style: solid;

    background-color: rgb(5, 0, 34);

    padding-left: 8px;
    padding-right: 8px;

    margin-top: 24px;
    margin-left: 4px;
    margin-bottom: 4px;

    transition-duration: 250ms;

    color: antiquewhite;

}

.submit-antique:hover {
    background-color: rgb(17, 16, 39);
    border-color: gold;
    transition-duration: 250ms;
}

.submit-antique:active {
    border-color: orangered;
}

nav {
    position: fixed;
    left: 40%;
}

.navigation ul {
    display: inline-block;
    list-style: none;
}

.navigation ul li{
    font-weight: 500;
    margin: 14px;
    display: inline;
}

.navigation ul li a {
    text-decoration: none;
    color: antiquewhite;
}

.navigation ul li a:hover {
    font-weight: 700;
    text-decoration: underline;
    color: gold;
}

.navigation ul li a:active {
    font-weight: 700;
    text-decoration: underline;
    color: orangered;
}

.auth-btn {
    float: right;

    margin-top: 1%;
    margin-right: 2%;
}

.auth-btn button {
    display: inline;

    border-radius: 5px;
    border-color: antiquewhite;
    border-width: 1px;
    border-style: solid;

    background-color: black;

    color: antiquewhite;

    padding: 5px 6px 5px 6px;
    margin-right: 12px;
}

.auth-btn button:hover {
    border-color: gold;
}

.auth-btn button:active {
    border-color: orangered;
}
