@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
}

body {
    background-image: url("../Img/Background.jpg");
    color:beige;
}
  
* {
    font-family: 'Source Sans Pro';
}

.title {
    float: left;
    width: 25%;
    margin-left: 2.5%;
}

.reg-container {
    float: left;

    border-width: 3px;
    border-radius: 2%;
    border-color: antiquewhite;
    border-style: solid;

    position: absolute;

    width: 25%;
    left: 10%;
    top: 25%;

    padding-top: 2.5%;
    padding-bottom: 2.5%;

    text-align: center;
    align-self: center;

    background-color: rgba(21, 26, 35, 0.315);
}

.reg-container h3 {
    margin-top: 20px;
    margin-bottom: 24px;
}

.reg-container input {    
    border-radius: 4px;
    border-style: ridge;

    width: 75%;
    
    text-align: center;
    font-weight: bold;
    
    padding-top: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 12.5%;
    margin-right: 12.5%;

    display: block;
}

.reg-container .submit-antique {
    border-width: 1.5px;
    border-color: antiquewhite;
    border-style: solid;

    background-color: rgb(5, 0, 34);

    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 13%;

    transition-duration: 250ms;

    color: antiquewhite;
}

.submit-antique:hover {
    background-color: rgb(17, 16, 39);
    border-color: gold;
    transition-duration: 250ms;
}

.submit-antique:active {
    border-color: orangered;
}

nav {
    position: fixed;
    width: 50%;
    left: 40%;
}

.navigation ul {
    list-style: none;
}

.navigation ul li{
    font-weight: 500;
    margin: 14px;
    display: inline;
}

.navigation ul li a {
    text-decoration: none;
    color: antiquewhite;
}

.navigation ul li a:hover {
    font-weight: 700;
    text-decoration: underline;
    color: gold;
}

.navigation ul li a:active {
    font-weight: 700;
    text-decoration: underline;
    color: orangered;
}

.auth-btn {
    float: right;
    width: 25%;

    margin-top: 1%;
    margin-right: 2%;
}

.auth-btn button {
    float: right;

    border-radius: 5px;
    border-color: antiquewhite;
    border-width: 1px;
    border-style: solid;

    background-color: black;

    color: antiquewhite;

    padding: 5px 6px 5px 6px;
    margin-right: 12px;
}

.auth-btn button:hover {
    border-color: gold;
}

.auth-btn button:active {
    border-color: orangered;
}

@media screen and (max-width: 900px) {
    .title, .reg-container, nav {
        position: relative;
        display: block;
        width: 100%;
        height: auto;

        left: 0%;
        top: 0%;
        text-align: center;
    }

    .reg-container {
        float: none;
        align-self: center;
    }

    .reg-container input {
        display: block;
    }

    .auth-btn {
        width: 100%;
        display: block;
        float: unset;
    }
}

/* @media screen and (max-width: 680px) {
    .auth-btn {
        display: none;
    }    
} */